.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #137399;
  color: white;
}

.btnContainer {
  background-color: #137399;
}

.title {
  font-family: "Niconne", cursive;
  font-size: 5rem;
  background-color: #137399;
  color: #9a79cf;
  text-shadow: 0 0 1px #650bf5;
  text-align: center;
}
