.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
}

.btnContainer {
  background-color: transparent;
}

.title {
  font-family: "Niconne", cursive;
  font-size: 5rem;
  background-color: transparent;
  text-align: center;
  color: #603a58;
}
