.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
  place-items: center;
}

.btnContainer {
  place-self: stretch;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-family: "Niconne", cursive;
  font-size: 5rem;
  background-color: transparent;
  text-align: center;
  font-size: 72px;
}
