/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: transparent;
  font-family: "Khula", sans-serif;
  font-size: 17px;
  line-height: 2rem;
  color: #603a58;
  background: linear-gradient(
    15deg,
    #e4b49d,
    #e8b7a0,
    #ebbba4,
    #efbea8,
    #f2c2ac,
    #f5c6b0,
    #f7cab5,
    #f9ceba,
    #fbd2bf,
    #fdd6c5,
    #fedbcb,
    #ffdfd1
  );
}

main {
  min-height: 100vh;
  padding: 5vh 10vw;
}

.caretaker {
  color: linear-gradient(
    0deg,
    #603a58,
    #5e3956,
    #5c3854,
    #5a3653,
    #583551,
    #56344f,
    #54334d,
    #52324b,
    #503149,
    #4e2f48,
    #4c2e46,
    #4a2d44
  );
  background: linear-gradient(
    15deg,
    #e4b49d,
    #e8b7a0,
    #ebbba4,
    #efbea8,
    #f2c2ac,
    #f5c6b0,
    #f7cab5,
    #f9ceba,
    #fbd2bf,
    #fdd6c5,
    #fedbcb,
    #ffdfd1
  );
}

h1 {
  font-size: 3rem;
  font-family: "Allura", cursive;
  line-height: 6rem;
}

h2 {
  font-size: 1.5rem;
  font-family: "Tillana", cursive;
  line-height: 3rem;
}

h3 {
  font-size: 1.1rem;
  font-family: "Tillana", cursive;
  line-height: 3rem;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

a {
  text-decoration: none;
}

header {
  color: #603a58;
  min-height: 7vh;
}

footer {
  min-height: 50vh;
  background-color: var(--primary-color);
}

button {
  background-color: #603a58;
  border: 2px solid #2c1b28;
  color: #fff0ea;
  border-radius: 10px;
  min-height: 25px;
  padding: 5px;
}

button:hover {
  color: linear-gradient(
    0deg,
    #603a58,
    #5e3956,
    #5c3854,
    #5a3653,
    #583551,
    #56344f,
    #54334d,
    #52324b,
    #503149,
    #4e2f48,
    #4c2e46,
    #4a2d44
  );
  cursor: pointer;
}

button:disabled {
  color: #c0acbe;
  border: 2px solid #c0acbe;
}

button:disabled:hover {
  text-shadow: none;
  cursor: default;
}

label:hover {
  cursor: pointer;
}

input {
  border: 0;
  border-radius: 15px;
  padding: 5px;
  background-color: #603a58;
  color: #fff0ea;
}

select {
  color: #fff0ea;
  padding: 5px;
  border-radius: 5px;
  background-color: #603a58;
  border: none;
}

footer {
  background-color: rgb(14, 78, 14);
}
