.dashboard {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  column-gap: 50px;
  min-height: 100vh;
  padding: 5vh 10vw;
}

.characterPlaceholder,
.placePlaceholder,
.kithPlaceholder {
  font-size: 1.5rem;
  font-family: "Tillana", cursive;
  line-height: 3rem;
}
