.monthSelector {
  display: flex;
  min-height: 50px;
  justify-content: space-around;
}

.monthSelectorLabel {
  align-self: center;
  font-size: 1.5rem;
  font-family: "Tillana", cursive;
  line-height: 3rem;
}

.monthOptions {
  font-size: 1.5rem;
  font-family: "Tillana", cursive;
  line-height: 3rem;
}
