.parent {
  display: flex;
  justify-content: space-between;
}

.characterDetail {
  display: flex;
  flex-direction: column;
}

.choice {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  padding-left: 5%;
  padding-top: 5px;
}

.appearance,
.personality,
.history {
  padding: 2% 5%;
}

.personality {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
