.sidebar {
  display: block;
  position: fixed;
  left: 0;
  min-height: 100%;
  width: 25vw;
  transition: width 300ms ease-in-out;
}

.hidden {
  width: 0;
}

.toggleBtn {
  position: absolute;
  right: -20px;
  top: 0;
}

.content {
  display: grid;
  overflow: hidden;
}
